In [ ]:
import pandas as pd
import numpy as np
# Import necessary libraries
import warnings
warnings.filterwarnings('ignore')  # Suppress warnings

In [ ]:
df=pd.read_excel('/train.xlsx')
df.head()

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,target
0,-70,-61,-66,-53,-51,-63,-82,-57,-76,-78,-66,-66,-61,-59,-73,-75,-63,-77,B37
1,-77,-74,-71,-76,-65,-63,-66,-52,-55,-75,-72,-75,-74,-61,-64,-63,-53,-63,B61
2,-53,-38,-55,-66,-62,-62,-65,-70,-62,-52,-56,-53,-66,-68,-72,-60,-68,-77,A19
3,-72,-62,-59,-65,-65,-65,-78,-82,-83,-59,-84,-60,-64,-83,-69,-72,-95,-73,A22
4,-67,-69,-65,-63,-59,-53,-70,-72,-71,-60,-61,-57,-54,-76,-61,-66,-71,-80,A33

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36752 entries, 0 to 36751
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T1      36752 non-null  int64
 1   T2      36752 non-null  int64
 2   T3      36752 non-null  int64
 3   T4      36752 non-null  int64
 4   T5      36752 non-null  int64
 5   T6      36752 non-null  int64
 6   T7      36752 non-null  int64
 7   T8      36752 non-null  int64
 8   T9      36752 non-null  int64
 9   T10     36752 non-null  int64
 10  T11     36752 non-null  int64
 11  T12     36752 non-null  int64
 12  T13     36752 non-null  int64
 13  T14     36752 non-null  int64
 14  T15     36752 non-null  int64
 15  T16     36752 non-null  int64
 16  T17     36752 non-null  int64
 17  T18     36752 non-null  int64
 18  target  36752 non-null  object
dtypes: int64(18), object(1)
memory usage: 5.3+ MB

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

X = df.drop(columns=["target"])
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
# Apply KMeans clustering
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(X_scaled)

# Add cluster labels to the dataframe
df["cluster"] = kmeans.labels_
print(df)

       T1  T2  T3  T4  T5  T6  T7  T8  T9  T10  T11  T12  T13  T14  T15  T16  \
0     -70 -61 -66 -53 -51 -63 -82 -57 -76  -78  -66  -66  -61  -59  -73  -75
1     -77 -74 -71 -76 -65 -63 -66 -52 -55  -75  -72  -75  -74  -61  -64  -63
2     -53 -38 -55 -66 -62 -62 -65 -70 -62  -52  -56  -53  -66  -68  -72  -60
3     -72 -62 -59 -65 -65 -65 -78 -82 -83  -59  -84  -60  -64  -83  -69  -72
4     -67 -69 -65 -63 -59 -53 -70 -72 -71  -60  -61  -57  -54  -76  -61  -66
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
36747 -68 -62 -64 -59 -59 -71 -67 -73 -73  -69  -71  -75  -56  -68  -68  -75
36748 -56 -50 -57 -50 -59 -60 -62 -69 -58  -64  -49  -61  -58  -56  -60  -58
36749 -42 -58 -72 -70 -75 -72 -76 -84 -84  -59  -65  -68  -65  -81  -86  -70
36750 -50 -50 -70 -64 -64 -68 -68 -73 -79  -58  -61  -73  -67  -77  -73  -74
36751 -66 -64 -70 -62 -59 -62 -53 -58 -64  -80  -73  -83  -67  -61  -56  -61

       T17  T18 target  cluster
0      -63  -77    B37        1
1      -53  -63    B61        2
2      -68  -77    A19        1
3      -95  -73    A22        0
4      -71  -80    A33        1
...    ...  ...    ...      ...
36747  -75  -95    B34        0
36748  -59  -64    B15        1
36749  -75  -74     A6        0
36750  -72  -81     B2        0
36751  -67  -65    B45        2

[36752 rows x 20 columns]

In [ ]:
def predict_cluster(data_point):
    # Preprocess the data point
    data_point_scaled = scaler.transform([data_point])
    # Predict the cluster
    cluster = kmeans.predict(data_point_scaled)
    return cluster[0]

# Example data point
data_point = [-70, -61, -66, -53, -51, -63, -82, -57, -76, -78, -66, -66, -61, -59, -73, -75, -63, -77]
cluster = predict_cluster(data_point)
print(f"The data point belongs to cluster {cluster}")

The data point belongs to cluster 1